<!-- <view title="'Employees'"> -->

    <!-- <div class="bar bar-subheader item-input-inset">
        <label class="item-input-wrapper">
            <i class="icon ion-ios7-search placeholder-icon"></i>
            <input id="searchKey" type="search" placeholder="Search" ng-model="searchKey" autocorrect="off" >
            <button class="button button-clear" ng-click="clearSearch()">X</button>
        </label>
        <button class="button button-clear" ng-click="search()">Search</button>
    </div> -->

<!--     <content has-header="true" has-subheader="true">
        <list>
            <item ng-repeat="employee in employees" type="item-text-wrap" href="#/employee/{{employee.id}}">
                <h3>{{employee.firstName}} {{employee.lastName}}</h3>
                <p>{{employee.title}}</p>
            </item>
            </item>
        </list>
    </content> -->

<!-- </view> -->

<div class="bar bar-header bar-balanced">
	<button class="button button-icon icon ion-navicon"></button>
	<div class="h1 title">Ask Ride</div>
	<button class="button button-icon icon ion-gear-a"></button>
</div>
<content has-header="true">
	<div class="item-input-inset">
		<div class="item-input-wrapper"></div>
		<label class="item-input-wrapper">
			<i class="icon ion-ios7-search placeholder-icon"></i>
			<input type="search" placeholder="Search">
		</label>
		<button class="button button-clear">Cancel</button>

	</div>
	<!-- <list>
		<item ng-repeat="employee in employees" type="item-text-wrap" href="#/employee/{{employee.id}}">
			<h3><img src="pics/{{employee.pic}}" width="15" height="15">&nbsp;&nbsp;&nbsp;{{employee.firstName}} {{employee.lastName}}</h3>
			<p><i class="icon ion-home"></i>&nbsp;&nbsp;&nbsp;{{employee.title}}</p>
		</item>	
	</list> -->
</content>
<div class="bar bar-footer bar-balanced">
	<div class="title">Footer</div>
</div>
