<ion-modal-view>
	<div class="bar bar-header bar-balanced">
		<div class="h1 title">Modal Title</div>
	</div>
	<content has-header="true">
		<div class="item-input-inset">
			<label class="item-input-wrapper">
				<i class="icon ion-ios7-search placeholder-icon"></i>
				<input type="text" ng-model="searchId" placeholder="Search">
			</label>
			<button class="button button-small button-balanced" ng-click="callFunction()" ng-disabled="searchId == null">Done</button>
		</div>
		<div class="item-input-inset">
			<input type="text" name="input" ng-model="example.text">
		</div>
	</content>
</ion-modal-view>
