<ion-side-menus>      
	<ion-side-menu-content>
		<ion-nav-bar class="bar-dark">
			<ion-nav-back-button class="button-icon ion-arrow-left-c"></ion-nav-back-button>
		</ion-nav-bar>
		<ion-nav-buttons side="left">
			<button class="button button-icon button-clear ion-navicon" ng-click="toggleLeft()"></button>
		</ion-nav-buttons>
		<ion-nav-view name="appContent"></ion-nav-view>
	</ion-side-menu-content> 

	<ion-side-menu side="left">
		<ion-header-bar class="bar-assertive">
			<h1 class="title">Left Menu</h1>
		</ion-header-bar>
		<ion-content>
			<ion-cart ng-controller='CartController'></ion-cart>
		</ion-content>
	</ion-side-menu>
</ion-side-menus>