<div class="bar bar-header bar-balanced">
	<ion-side-menus>
		<ion-side-menu-content>
			<ion-header-bar class="bar-balanced">
				<div class="buttons">
					<button class="button button-icon icon ion-navicon" ng-click="toggleLeft()"></button>
				</div>
				<div class="h1 title">Ask Ride</div>
				<div class="buttons">
					<button class="button button-icon icon ion-gear-a"></button>
				</div>
			</ion-header-bar>
		</ion-side-menu-content>	
		<ion-side-menu side="left">
			<ion-list>
				<ion-item>Home</ion-item>
			</ion-list>
		</ion-side-menu>
	</ion-side-menus>
</div>
<content has-header="true">
	<!-- <div class="item-input-inset">
		<div class="item-input-wrapper"></div>
		<label class="item-input-wrapper">
			<i class="icon ion-ios7-search placeholder-icon"></i>
			<input type="search" placeholder="Search">
		</label>
		<button class="button button-clear">Cancel</button>
	</div> -->
	<ion-content padding="true" scroll='true'>
		<h2>Content</h2>
	</ion-content>
</content>
<div class="bar bar-footer bar-balanced">
	<div class="title">Footer</div>
</div>
