/* Your app's CSS, go crazy, make it your own */

.ionic-logo {
  display: block;
  margin: 15px auto;
  width: 96px;
  height: 96px;
}

.details {
    padding: 0px 12px 20px 12px;
}

.details img {
    float: left;
    margin-right: 12px;
}

.list {
    clear: both;
}

.scroll-content{

}

.blankDiv{
	height: 60vh;
	background-image : url(../img/askride_bg.jpg);
	background-size : 100% 100%;
	background-position : bottom center;
	background-repeat : no-repeat;
	vertical-align : top;        
}
.centerDiv{
	text-align: center;
}

.scroll {
    height: 100%;
}
 
#map {
    width: 100%;
    height: 100%;
}