<!DOCTYPE html>
<html ng-app="ionicApp1">
	<head>
		<meta charset="utf-8">
		<meta name="viewport" content="initial-scale=1, maximum-scale=1, user-scalable=no, width=device-width">
		<meta http-equiv="Content-Security-Policy" content="default-src *; style-src 'self' 'unsafe-inline'; script-src 'self' 'unsafe-inline' 'unsafe-eval'">
		<title>AskRide</title>
		<link href="lib/css/ionic.css" rel="stylesheet">
		<link href="css/custom_app.css" rel="stylesheet">
	</head>
	<body ng-controller="MainCtrl1">
		<ion-side-menus>
			<ion-side-menu-content>
				<ion-header-bar class="bar-positive">
					<div class="buttons">
						<button class="button button-icon icon ion-navicon" ng-click="toggleLeft()"></button>
					</div>
					<div class="h1 title">Ask Ride</div>
					<div class="buttons">
						<button class="button button-icon icon ion-gear-a"></button>
					</div>
				</ion-header-bar>
				<ion-content>
					<div class="blankDiv"></div>
					<div class="centerDiv">
						<div class="buttons">
							<a href="#" ng-click="viewLogin()"> BACK </a>
						</div>
					</div>
				</ion-content>
			</ion-side-menu-content>	
			<ion-side-menu side="left">
				<ion-list>
					<ion-scroll zooming="true" direction="y">
						<ion-item class="bar bar-header bar-positive">Side Menu</ion-item>
						<ion-item href="#" ng-click="viewLogin()">Login Page</ion-item>
						<ion-item>Home2</ion-item>
						<ion-item>Home3</ion-item>
						<ion-item>Home4</ion-item>
						<ion-item>Home5</ion-item>
						<ion-item>Home6</ion-item>
						<ion-item>Home7</ion-item>
						<ion-item>Home8</ion-item>
						<ion-item>Home9</ion-item>
						<ion-item>Home10</ion-item>
						<ion-item>Home11</ion-item>
						<ion-item>Home12</ion-item>
						<ion-item>Home13</ion-item>
						<ion-item>Home14</ion-item>
						<ion-item>Home15</ion-item>
						<ion-item>Home16</ion-item>
					</ion-scroll>
				</ion-list>
			</ion-side-menu>
		</ion-side-menus>
		<script src="js/ionic.bundle.js"></script>
		<script src="js/main.js"></script>
	</body>
</html>
